In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('COICOP.csv')

In [4]:
df.head(10)

,Order,Level,Code,Parent,Code.1,Parent.1,Description,Remark
0,1824814,1,10,NaN,TOTAL,NaN,Total,NaN
1,1824815,1,20,NaN,TOT_X_CP041_042,NaN,Total except actual rents,NaN
2,1824816,1,30,NaN,CP00,NaN,All-items HICP,NaN
3,1824817,1,40,NaN,CP01,NaN,Food and non-alcoholic beverages,NaN
4,1824818,2,50,40.0,CP011,CP01,Food,NaN
5,1824819,3,60,50.0,CP0111,CP011,Bread and cereals,NaN
6,1824820,4,70,60.0,CP01111,CP0111,Rice,NaN
7,1824821,5,80,70.0,CP01111A,CP01111,Long-grain rice (1 kg),NaN
8,1824822,4,90,60.0,CP01112,CP0111,Flours and other cereals,NaN
9,1824823,5,100,90.0,CP01112A,CP01112,Wheat flour (1 kg),NaN

In [6]:
df_2 = pd.read_csv('hierarchial_level.csv')

In [8]:
df_2.head(50)

,Order,Level,Code,Parent,Code.1,Parent.1,Description,Remark
0,1824814,1,10,NaN,TOTAL,NaN,Total,NaN
1,1824815,1,20,NaN,TOT_X_CP041_042,NaN,Total except actual rents,NaN
2,1824816,1,30,NaN,CP00,NaN,All-items HICP,NaN
3,1824817,1,40,NaN,CP01,NaN,Food and non-alcoholic beverages,NaN
4,1824966,1,1530,NaN,CP02,NaN,"Alcoholic beverages, tobacco and narcotics",NaN
5,1824994,1,1810,NaN,CP03,NaN,Clothing and footwear,NaN
6,1825047,1,2340,NaN,CP04,NaN,"Housing, water, electricity, gas and other fuels",NaN
7,1825097,1,2840,NaN,CP05,NaN,"Furnishings, household equipment and routine h...",NaN
8,1825204,1,3910,NaN,CP06,NaN,Health,NaN
9,1825255,1,4420,NaN,CP07,NaN,Transport,NaN
10,1825312,1,4990,NaN,CP08,NaN,Communications,NaN
11,1825332,1,5190,NaN,CP09,NaN,Recreation and culture,NaN
12,1825450,1,6370,NaN,CP10,NaN,Education,NaN
13,1825469,1,6560,NaN,CP11,NaN,Restaurants and hotels,NaN
14,1825488,1,6750,NaN,CP12,NaN,Miscellaneous goods and services,NaN
15,1825561,1,7480,NaN,GD,NaN,Goods (overall index excluding services),NaN
16,1825562,1,7490,NaN,FOOD,NaN,Food including alcohol and tobacco,NaN
17,1825567,1,7540,NaN,IGD,NaN,Industrial goods,NaN
18,1825572,1,7590,NaN,NRG,NaN,Energy,NaN
19,1825573,1,7600,NaN,ELC_GAS,NaN,"Electricity, gas, solid fuels and heat energy",NaN
20,1825574,1,7610,NaN,FUEL,NaN,Liquid fuels and fuels and lubricants for pers...,NaN
21,1825575,1,7620,NaN,SERV,NaN,Services (overall index excluding goods),NaN
22,1825583,1,7700,NaN,NRG_FOOD_NP,NaN,Energy and unprocessed food,NaN
23,1825584,1,7710,NaN,NRG_FOOD_S,NaN,Energy and seasonal food,NaN
24,1825585,1,7720,NaN,EDUC_HLTH_SPR,NaN,"Education, health and social protection",NaN
25,1825586,1,7730,NaN,FROOPP,NaN,Frequent out-of-pocket purchases,NaN
26,1825587,1,7740,NaN,TOT_X_FOOD_S,NaN,Overall index excluding seasonal food,NaN
27,1825588,1,7750,NaN,TOT_X_ALC_TBC,NaN,Overall index excluding alcohol and tobacco,NaN
28,1825589,1,7760,NaN,TOT_X_TBC,NaN,Overall index excluding tobacco,NaN
29,1825590,1,7770,NaN,TOT_X_NRG,NaN,Overall index excluding energy,NaN
30,1825591,1,7780,NaN,TOT_X_NRG_FOOD,NaN,"Overall index excluding energy, food, alcohol ...",NaN
31,1825592,1,7790,NaN,TOT_X_NRG_FOOD_NP,NaN,Overall index excluding energy and unprocessed...,NaN
32,1825593,1,7800,NaN,TOT_X_NRG_FOOD_S,NaN,Overall index excluding energy and seasonal food,NaN
33,1825594,1,7810,NaN,TOT_X_FUEL,NaN,Overall index excluding liquid fuels and lubri...,NaN
34,1825595,1,7820,NaN,TOT_X_HOUS,NaN,"Overall index excluding housing, water, electr...",NaN
35,1825596,1,7830,NaN,TOT_X_EDUC_HLTH_SPR,NaN,"Overall index excluding Education, health and ...",NaN
36,1825597,1,7840,NaN,TOT_X_FROOPP,NaN,Overall index excluding frequent out-of-pocket...,NaN
37,1825598,1,7850,NaN,AP,NaN,Administered prices,NaN
38,1825603,1,7900,NaN,TOT_X_AP,NaN,Overall index excluding administered prices,NaN
39,1825604,1,7910,NaN,TOT_X_APF,NaN,Overall index excluding fully administered prices,NaN
40,1825605,1,7920,NaN,TOT_X_APM,NaN,Overall index excluding mainly administered pr...,NaN